*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, #dabc5b, #e4927b);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
}
header ,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, 
form button{
    padding: .5rem;
    font-size: 2rem;
    border: none;
    background: #fff;
    outline: none;
}

form input{
    border-radius: 15px 0 0 15px;
    padding-left:10px;
}

form button{
    color: #fff;
    cursor: pointer;
    background:#d88771;
    transition: all .3s ease;
    border: 2px solid #d88771;
    
}

form button:hover{
    color: #d88771;
    border: 2px solid #d88771;
    background-color: #fff;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    background: #ffff;
    margin: .5rem;
    color: black;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.todo li{
    flex: 1;
}

.trash-btn , .complete-btn{
    background-color: #ff6f47;
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn{
    background-color: #08b808;
}
.todo-item{
    padding: 0 .5rem;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.checked{
    text-decoration: line-through;
    opacity: .4;
}


.fall{
    transition: .5s;
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select{
    appearance: none;
    -moz-appearance:none;
    -webkit-appearance:none;
    border: none;
    outline: none;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
}